In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

We've talked about Random Forests and Decision Trees, but now it's time to build one.

Here we'll use data from Lending Club to predict the state of a loan given some information about it. You can find the dataset [here](https://www.lendingclub.com/info/download-data.action). We'll use 2015 Lending data.

In [2]:
y2015 = pd.read_csv('./LoanStats3a.csv', skipinitialspace=True, header=1)

C:\Users\NutanMandale\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (0,47) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## The Blind Approach

Now, as we've seen before, creating a model is the easy part. Let's try just using everything we've got and throwing it without much thought into a Random Forest. SKLearn requires the independent variables to be be numeric, and all we want is dummy variables so let's use get_dummies from pandas and see what happens off of this kind of naive approach.

In [ ]:
from sklearn import ensemble
from sklearn.model_selection import cross_val_score

rfc = ensemble.RandomForestClassifier()
X = y2015.drop('loan_status', 1)
Y = y2015['loan_status']
X = pd.get_dummies(X)

cross_val_score(rfc, X, Y, cv=5)

Did your kernel die? My kernel died.

Guess it isn't always going to be that easy...

Can you think of what went wrong?

(You're going to have to reset your kernel and reload the column, BUT DON'T RUN THE MODEL AGAIN OR YOU'LL CRASH THE KERNEL AGAIN! You can restart the kernel in the 'Kernel' menu at the top of the page).

## Data Cleaning

Well, get_dummies can be a very memory intensive thing, particularly if things are typed poorly. We got a warning about that earlier. Mixed types get converted to objects, and that could create huge problems. Our dataset is about 400,000 rows. If theres a bad type there its going to see 400,000 distinct values and try to create dummies for all of them. That's bad. Lets look at all out categorical variables and see how many distinct counts there are...

In [3]:
categorical = y2015.select_dtypes(include=['object'])
for i in categorical:
    column = categorical[i]
    print(i)
    print(column.nunique())

id
3
term
2
int_rate
394
grade
7
sub_grade
35
emp_title
30659
emp_length
12
home_ownership
5
verification_status
3
issue_d
55
loan_status
4
pymnt_plan
1
desc
28964
purpose
14
title
21265
zip_code
837
addr_state
50
earliest_cr_line
530
revol_util
1119
initial_list_status
1
last_pymnt_d
112
next_pymnt_d
99
last_credit_pull_d
118
application_type
1

Well that right there is what's called a problem. Some of these have over a hundred thousand distinct types. Lets drop the ones with over 30 unique values, converting to numeric where it makes sense. In doing this there's a lot of code that gets written to just see if the numeric conversion makes sense. It's a manual process that we'll abstract away and just include the conversion.

You could extract numeric features from the dates, but here we'll just drop them. There's a lot of data, it shouldn't be a huge problem.

In [4]:
# Convert ID and Interest Rate to numeric.
y2015['id'] = pd.to_numeric(y2015['id'], errors='coerce')
y2015['int_rate'] = pd.to_numeric(
                    y2015['int_rate'].str.strip('%'), errors='coerce')

# Drop other columns with many unique variables
y2015.drop(['url', 'emp_title', 'zip_code', 'earliest_cr_line',
            'revol_util', 'sub_grade', 'addr_state', 'desc'],
            1, inplace=True)

# Remove two summary rows that don't actually contain data
y2015 = y2015[:-2]

Note that in `pd.to_numeric` we used the 'coerce' option for our conversion. This makes it so that if the function cannot figure out how to convert to numeric it returns a null for that value rather than returning an error for the whole process.

Now this should be better. Let's try again.

In [6]:
y2015 = y2015[:1000]

In [7]:
y2015.shape

(1000, 114)

In [8]:
pd.get_dummies(y2015)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,...,last_credit_pull_d_Oct-2013,last_credit_pull_d_Oct-2014,last_credit_pull_d_Oct-2015,last_credit_pull_d_Oct-2016,last_credit_pull_d_Sep-2012,last_credit_pull_d_Sep-2013,last_credit_pull_d_Sep-2014,last_credit_pull_d_Sep-2015,last_credit_pull_d_Sep-2016,application_type_INDIVIDUAL
0,NaN,NaN,5000.0,5000.0,4975.000000,10.65,162.87,24000.00,27.65,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,NaN,NaN,2500.0,2500.0,2500.000000,15.27,59.83,30000.00,1.00,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
2,NaN,NaN,2400.0,2400.0,2400.000000,15.96,84.33,12252.00,8.72,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,NaN,NaN,10000.0,10000.0,10000.000000,13.49,339.31,49200.00,20.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,NaN,NaN,3000.0,3000.0,3000.000000,12.69,67.79,80000.00,17.94,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
5,NaN,NaN,5000.0,5000.0,5000.000000,7.90,156.46,36000.00,11.20,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
6,NaN,NaN,7000.0,7000.0,7000.000000,15.96,170.08,47004.00,23.51,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
7,NaN,NaN,3000.0,3000.0,3000.000000,18.64,109.43,48000.00,5.35,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
8,NaN,NaN,5600.0,5600.0,5600.000000,21.28,152.39,40000.00,5.55,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
9,NaN,NaN,5375.0,5375.0,5350.000000,12.69,121.45,15000.00,18.08,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
10,NaN,NaN,6500.0,6500.0,6500.000000,14.65,153.45,72000.00,16.12,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
11,NaN,NaN,12000.0,12000.0,12000.000000,12.69,402.54,75000.00,10.78,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
12,NaN,NaN,9000.0,9000.0,9000.000000,13.49,305.38,30000.00,10.08,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
13,NaN,NaN,3000.0,3000.0,3000.000000,9.91,96.68,15000.00,12.56,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
14,NaN,NaN,10000.0,10000.0,10000.000000,10.65,325.74,100000.00,7.06,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
15,NaN,NaN,1000.0,1000.0,1000.000000,16.29,35.31,28000.00,20.31,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
16,NaN,NaN,10000.0,10000.0,10000.000000,15.27,347.98,42000.00,18.60,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
17,NaN,NaN,3600.0,3600.0,3600.000000,6.03,109.57,110000.00,10.52,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
18,NaN,NaN,6000.0,6000.0,6000.000000,11.71,198.46,84000.00,18.44,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
19,NaN,NaN,9200.0,9200.0,9200.000000,6.03,280.01,77385.19,9.86,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
20,NaN,NaN,20250.0,20250.0,19142.161077,15.27,484.63,43370.00,26.53,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
21,NaN,NaN,21000.0,21000.0,21000.000000,12.42,701.73,105000.00,13.22,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
22,NaN,NaN,10000.0,10000.0,10000.000000,11.71,330.76,50000.00,11.18,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
23,NaN,NaN,10000.0,10000.0,10000.000000,11.71,330.76,50000.00,16.01,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
24,NaN,NaN,6000.0,6000.0,6000.000000,11.71,198.46,76000.00,2.40,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
25,NaN,NaN,15000.0,15000.0,15000.000000,9.91,483.38,92000.00,29.44,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
26,NaN,NaN,15000.0,15000.0,8725.000000,14.27,514.64,60000.00,15.22,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
27,NaN,NaN,5000.0,5000.0,5000.000000,16.77,123.65,50004.00,13.97,3.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
28,NaN,NaN,4000.0,4000.0,4000.000000,11.71,132.31,106000.00,5.63,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
29,NaN,NaN,8500.0,8500.0,8500.000000,11.71,281.15,25000.00,12.19,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,NaN,NaN,14000.0,9200.0,9200.000000,20.89,248.33,76800.00,6.83,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
971,NaN,NaN,6000.0,6000.0,6000.000000,16.77,148.38,80000.00,9.09,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
972,NaN,NaN,7200.0,7200.0,7200.000000,9.91,232.02,90000.00,8.59,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
973,NaN,NaN,5000.0,5000.0,5000.000000,14.27,171.55,32000.00,20.93,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
974,NaN,NaN,6600.0,6600.0,6600.000000,10.65,214.99,42000.00,10.11,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
975,NaN,NaN,7000.0,7000.0,7000.000000,6.62,214.93,24000.00,11.45,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
976,NaN,NaN,20000.0,20000.0,20000.000000,15.27,695.96,130000.00,9.67,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
977,NaN,NaN,8000.0,8000.0,8000.000000,12.42,267.33,35000.00,23.79,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
978,NaN,NaN,12000.0,12000.0,12000.000000,9.91,386.70,70000.00,10.46,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
979,NaN,NaN,20000.0,20000.0,19975.000000,11.71,661.52,67000.00,16.55,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
980,NaN,NaN,10000.0,10000.0,10000.000000,8.90,317.54,31000.00,20.79,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
981,NaN,NaN,16000.0,10175.0,10150.000000,12.69,229.91,50000.00,26.11,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
982,NaN,NaN,10000.0,10000.0,10000.000000,11.71,330.76,145000.00,10.65,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
983,NaN,NaN,18000.0,18000.0,18000.000000,16.29,635.41,66000.00,15.67,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
984,NaN,NaN,4000.0,4000.0,4000.000000,12.42,133.67,100000.00,9.60,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
985,NaN,NaN,15000.0,15000.0,15000.000000,12.42,501.23,60000.00,14.18,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
986,NaN,NaN,10000.0,10000.0,10000.000000,18.64,257.43,40000.00,12.75,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
987,NaN,NaN,29500.0,17900.0,17850.000000,14.27,419.02,45000.00,19.09,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
988,NaN,NaN,20125.0,20125.0,20100.000000,19.42,526.72,103000.00,19.70,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
989,NaN,NaN,30000.0,18375.0,18375.000000,21.28,500.01,137000.00,8.73,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
990,NaN,NaN,24000.0,24000.0,24000.000000,16.77,852.93,103000.00,15.34,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
991,NaN,NaN,14000.0,14000.0,13950.000000,15.96,340.16,75000.00,12.62,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
992,NaN,NaN,5375.0,5375.0,5375.000000,10.65,175.09,42000.00,17.69,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
993,NaN,NaN,8300.0,8300.0,8300.000000,8.90,263.56,50000.00,6.24,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
994,NaN,NaN,7000.0,7000.0,7000.000000,8.90,222.28,50000.00,16.68,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
995,NaN,NaN,2425.0,2425.0,2425.000000,15.27,84.39,80004.00,23.92,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
996,NaN,NaN,6950.0,6950.0,6950.000000,9.91,223.97,43000.00,20.51,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
997,NaN,NaN,12375.0,12375.0,12344.464785,9.91,398.79,32000.00,24.30,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
998,NaN,NaN,35000.0,35000.0,33906.194198,20.30,933.14,85000.00,12.54,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
999,NaN,NaN,14000.0,14000.0,14000.000000,17.27,349.98,60500.00,19.95,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

It works! We had to sacrifice sub grade, state address and description, but that's fine. If you want to include them you could run the dummies independently and then append them back to the dataframe.

## Second Attempt

Now let's try this model again.

We're also going to drop NA columns, rather than impute, because our data is rich enough that we can probably get away with it.

In [9]:
from sklearn import ensemble
from sklearn.model_selection import cross_val_score

rfc = ensemble.RandomForestClassifier()
X = y2015.drop('loan_status', 1)
Y = y2015['loan_status']
X = pd.get_dummies(X)
X = X.dropna(axis=1)

cross_val_score(rfc, X, Y, cv=10)

array([ 0.97029703,  0.98019802,  0.99      ,  0.99      ,  0.99      ,
        0.97      ,  1.        ,  1.        ,  0.96969697,  1.        ])

The score cross validation reports is the accuracy of the tree. Here we're about 98% accurate.

That works pretty well, but there are a few potential problems. Firstly, we didn't really do much in the way of feature selection or model refinement. As such there are a lot of features in there that we don't really need. Some of them are actually quite impressively useless.

There's also some variance in the scores. The fact that one gave us onluy 93% accuracy while others gave higher than 98 is concerning. This variance could be corrected by increasing the number of estimators. That will make it take even longer to run, however, and it is already quite slow.

## DRILL: Third Attempt

So here's your task. Get rid of as much data as possible without dropping below an average of 90% accuracy in a 10-fold cross validation.

You'll want to do a few things in this process. First, dive into the data that we have and see which features are most important. This can be the raw features or the generated dummies. You may want to use PCA or correlation matricies.

Can you do it without using anything related to payment amount or outstanding principal? How do you know?

In [10]:
# Your code here
from sklearn.decomposition import PCA

pca = PCA(n_components=4)
pca.fit(X)
PCA(copy=True, iterated_power='auto', n_components=4, random_state=None, svd_solver='auto', tol=0.0, whiten=False)
print(pca.explained_variance_ratio_)
X_reduced = pca.fit_transform(X)

cross_val_score(rfc, X_reduced, Y, cv=10)

[ 0.74423592  0.1785643   0.04647784  0.0144966 ]

array([ 0.98019802,  0.98019802,  0.93      ,  0.98      ,  0.94      ,
        0.99      ,  0.95      ,  0.96      ,  0.95959596,  0.92929293])

In [ ]:
# EXAMPLE SOLUTION

In [51]:
df = pd.DataFrame()
df['imp']= rfc.fit(X, Y).feature_importances_
df['features'] = X.columns

In [61]:
x = X.drop(['last_pymnt_amnt', 'out_prncp', 'last_pymnt_d_Jan-2017', 'out_prncp_inv'], 1)

In [62]:
cross_val_score(rfc, x, Y, cv=10)

array([ 0.97691814,  0.97967277,  0.98062264,  0.98059889,  0.97318927,
        0.97941107,  0.90975801,  0.97781947,  0.9503408 ,  0.95658576])

In [58]:
df.sort_values(by='imp', ascending=False)

              imp                                       features
24   1.566652e-01                                last_pymnt_amnt
15   1.409654e-01                                      out_prncp
152  1.286368e-01                          last_pymnt_d_Jan-2017
16   9.926417e-02                                  out_prncp_inv
167  7.363359e-02                          next_pymnt_d_Feb-2017
182  6.249018e-02                    last_credit_pull_d_Jan-2017
19   4.930034e-02                                total_rec_prncp
147  2.987815e-02                          last_pymnt_d_Dec-2016
17   2.503673e-02                                    total_pymnt
18   2.434818e-02                                total_pymnt_inv
23   2.061793e-02                        collection_recovery_fee
22   1.308545e-02                                     recoveries
166  1.260172e-02                          last_pymnt_d_Sep-2016
3    9.215773e-03                                    funded_amnt
162  9.195217e-03                          last_pymnt_d_Nov-2016
2    9.170978e-03                                      loan_amnt
164  8.771842e-03                          last_pymnt_d_Oct-2016
145  7.230638e-03                          last_pymnt_d_Aug-2016
158  7.039136e-03                          last_pymnt_d_Mar-2016
194  6.416200e-03                    last_credit_pull_d_Oct-2016
4    5.915080e-03                                funded_amnt_inv
168  5.466406e-03                          next_pymnt_d_Jan-2017
6    4.752900e-03                                    installment
20   4.252076e-03                                  total_rec_int
5    4.157986e-03                                       int_rate
0    3.519445e-03                                             id
1    2.953573e-03                                      member_id
13   2.950435e-03                                      revol_bal
143  2.777477e-03                          last_pymnt_d_Apr-2016
21   2.577405e-03                             total_rec_late_fee
..            ...                                            ...
173  1.965990e-06                    last_credit_pull_d_Aug-2015
169  1.933507e-06                          next_pymnt_d_Jul-2016
142  9.278710e-07                          last_pymnt_d_Apr-2015
157  3.949884e-07                          last_pymnt_d_Mar-2015
129  0.000000e+00  title_Paying off higher interest cards & auto
26   0.000000e+00                                    policy_code
131  0.000000e+00                                     title_SAVE
126  0.000000e+00  title_New Baby and New House (CC Consolidate)
133  0.000000e+00                             title_Student Loan
134  0.000000e+00          title_Trying to come back to reality!
136  0.000000e+00                              title_considerate
137  0.000000e+00                                  title_new day
128  0.000000e+00                       title_Pay off Lowes Card
138  0.000000e+00                   title_new kitchen for momma!
132  0.000000e+00  title_Simple Loan Until Contract Is Completed
102  0.000000e+00                            purpose_educational
187  0.000000e+00                    last_credit_pull_d_Mar-2015
139  0.000000e+00                                  title_odymeds
79   0.000000e+00                             home_ownership_ANY
118  0.000000e+00                                    title_DebtC
115  0.000000e+00                  title_Credit Card/Auto Repair
180  0.000000e+00                    last_credit_pull_d_Jan-2015
148  0.000000e+00                          last_pymnt_d_Feb-2015
178  0.000000e+00                    last_credit_pull_d_Feb-2015
98   0.000000e+00                                   pymnt_plan_n
150  0.000000e+00                          last_pymnt_d_Jan-2015
175  0.000000e+00                    last_credit_pull_d_Dec-2014
112  0.000000e+00                                purpose_wedding
171  0.000000e+00                    last_credit_pull_d_Apr-2015
122  0.000000e+00                    title_Learning and training

[202 rows x 2 columns]